.upload-container{
    display:flex;
    justify-content:center;
    align-items:center;
    padding:60px 20px;
}

.upload-card{
    width:700px;
    background:white;
    padding:40px;
    border-radius:20px;
    box-shadow:0 8px 25px rgba(0,0,0,0.08);
    text-align:center;
}

.upload-card h1{
    margin-bottom:15px;
    color:#1E3A8A;
}

.upload-card p{
    color:#555;
    margin-bottom:35px;
    font-size:17px;
}

.upload-box{
    border:3px dashed #2563EB;
    border-radius:15px;
    padding:50px;
    cursor:pointer;
    transition:0.3s;
    background:#F8FAFC;
}

.upload-box:hover{
    background:#EFF6FF;
}

.selected-file{
    margin-top:20px;
    color:#15803D;
    font-weight:600;
}

.upload-btn{
    margin-top:30px;
    background:#2563EB;
    color:white;
    border:none;
    padding:15px 35px;
    border-radius:10px;
    font-size:17px;
    cursor:pointer;
    transition:.3s;
}

.upload-btn:hover{
    background:#1D4ED8;
}